{% extends './index.html' %}
{%load static%}
{%block main%}
<div class="container">
    <div class="row">
        {% for order in orders_list %}
        <div class="col-md-3 mb-1">

            <div class="card h-100" style="width: 15rem; margin-top: 5%;">
            {% for item in order.order_products.all %}
                <div class="card-body">
                    <img src="{{ item.product.product_image.url }}" class="card-img-top" alt="...">
                    <h5 class="card-title">{{ item.product.name }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ID заказа: {{ order.id }}</li>
                        <li class="list-group-item">Имя клиента: {{ order.name }}</li>
                        <li class="list-group-item">Дата заказа: {{ order.date_ordered }}</li>
                        <li class="list-group-item">Количество: {{ item.quantity }} шт</li>
                        <li class="list-group-item">Цена за шт: {{ item.price }} $</li>
                        <li class="list-group-item">Общая цена: {{ item.get_total_price }} $</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'app:product_detail' item.product.id %}" class="card-link">Подробно о
                            продукте</a>
                        <a href="{% url 'app:create_order' %}" class="card-link">Заказать</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}