{%extends './index.html'%}
{%load static%}
{% block main %}
<div class="container">
     <div class="row">
    {%for product in products%}

        <div class="col-md-3 mb-1">
            <div class="card h-100" style="width: 15rem; margin-top: 5%;">

                <div class="card-body" >
                                    <img src="{{ product.product_image.url }}" class="card-img-top" alt="...">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Цена {{product.price}}$ за шт</p>
                    <a href="{% url 'app:product_detail' product.id %}" class="btn btn-primary">Подробно</a>
                    <a href="{% url 'app:create_order' %}" class="btn btn-primary">Заказать</a>
                </div>
            </div>
        </div>

    {%endfor%}
     </div>
</div>

{% endblock %}
